.todo {
    display: flex;
    padding: 8px;
    align-items: center;
    background-color: var(--primary);
    margin: 4px 0;
    border-radius: 4px;
    gap: 6px;
}
.checkbox {
    width: 20px;
    height: 20px;
}
.spantext {
    flex: 1;
    text-align: left;
    text-decoration: line-through;
    font-style: italic;
    color: gray;
}
.inputtext {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primaryDark);
    flex: 1;
}
.text:disabled {
    text-decoration: overline;
    border: none;
    color: white;
}

.icon {
    fill: var(--primaryDark);
    fill: var(--secondaryDark);
    /* fill: white; */
    height: 16px;
    width: 16px;
}
